#wpartg-title{position:absolute;top:60px;color:white;background:darkgrey;}
#wpartg-alt{position:absolute;top:80px;color:white;background:darkgrey;}
#wpartg-desc{position:absolute;top:100px;color:white;background:darkgrey;}
#wpartg-caption{position:absolute;top:120px;color:white;background:darkgrey;}