#wpartg-title{
position:absolute;
top:10px;
left:1%;
text-align:center;
z-index:998;
padding:5px 10px;
}
#wpartg-alt{
position:absolute;
bottom:55px;
right:2%;
text-align:center;
z-index:998;
padding:5px 10px;
}
#wpartg-desc{
position:absolute;
bottom:90px;
right:2%;
text-align:left;
z-index:998;
padding:5px 10px;
width:40%;
}
#wpartg-caption{
position:absolute;
bottom:55px;
left:1%;
text-align:center;
z-index:998;
padding:5px 10px;
}
.wpartg-img-text:empty{display:none;}
.wpartg-img-text{
color:white;
background:darkgrey;
box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
-webkit-transform:skewY(-2deg);
-moz-transform:skewY(-2deg);
-ms-transform:skewY(-2deg);
-o-transform:skewY(-2deg);
transform:skewY(-2deg);
}
#wpartg-hide-text{
  background-image: url(../img/hide.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 46px;
  height: 50px;
  top: 40px;
  right: 0;
  position: absolute;
  z-index: 9999;
}